<h3>注册</h3>
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
    <!--防止自动填充-->
    <input type="password" style="display:none">
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="account">
            <nz-input formControlName="account" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
                <ng-template #prefix>
                    <i class="anticon anticon-user"></i>
                </ng-template>
            </nz-input>
            <ng-container *ngIf="account.dirty || account.touched">
                <p nz-form-explain *ngIf="account.errors?.required">请输入用户名！</p>
                <p nz-form-explain *ngIf="account.errors?.exist">用户名已存在！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="email">
            <nz-input formControlName="email" [nzPlaceHolder]="'邮箱'" [nzSize]="'large'">
                <ng-template #prefix>
                    <i class="anticon anticon-mail"></i>
                </ng-template>
            </nz-input>
            <ng-container *ngIf="email.dirty || email.touched">
                <p nz-form-explain *ngIf="email.errors?.required">请输入邮箱地址！</p>
                <p nz-form-explain *ngIf="email.errors?.email">邮箱地址格式错误！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="password">
            <nz-popover [nzPlacement]="'right'" [nzTrigger]="'focus'" [(nzVisible)]="visible" nzOverlayClassName="register-password-cdk" [nzOverlayStyle]="{'width.px': 240}">
                <nz-input nz-popover formControlName="password" [nzPlaceHolder]="'至少6位密码，区分大小写'" [nzType]="'password'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="(password.dirty || password.touched) && password.errors?.required">请输入密码！</div>
                <ng-template #nzTemplate>
                    <div style="padding: 4px 0">
                        <ng-container [ngSwitch]="status">
                            <div *ngSwitchCase="'ok'" class="success">强度：强</div>
                            <div *ngSwitchCase="'pass'" class="warning">强度：中</div>
                            <div *ngSwitchDefault class="error">强度：太短</div>
                        </ng-container>
                        <div class="progress-{{status}}">
                            <nz-progress
                                [(ngModel)]="progress" [ngModelOptions]="{standalone: true}"
                                [nzStatus]="passwordProgressMap[status]"
                                [nzStrokeWidth]="6"
                                [nzShowInfo]="false"></nz-progress>
                        </div>
                        <p class="mt-sm">请至少输入 6 个字符。请不要使用容易被猜到的密码。</p>
                    </div>
                </ng-template>
            </nz-popover>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="confirm">
            <nz-input formControlName="confirm" [nzPlaceHolder]="'确认密码'" [nzType]="'password'" [nzSize]="'large'">
                <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                </ng-template>
            </nz-input>
            <ng-container *ngIf="confirm.dirty || confirm.touched">
                <p nz-form-explain *ngIf="confirm.errors?.required">请确认密码！</p>
                <p nz-form-explain *ngIf="confirm.errors?.equar">两次输入的密码不匹配！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="name">
            <nz-input formControlName="name" [nzPlaceHolder]="'姓名'" [nzSize]="'large'">
            </nz-input>
            <ng-container *ngIf="name.dirty || name.touched">
                <p nz-form-explain *ngIf="name.errors?.required">请输入姓名！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="gender">
            <nz-select formControlName="gender" [nzSize]="'large'" [nzPlaceHolder]="'性别'">
                <nz-option [nzLabel]="'保密'" [nzValue]="'保密'"></nz-option>
                <nz-option [nzLabel]="'男'" [nzValue]="'男'"></nz-option>
                <nz-option [nzLabel]="'女'" [nzValue]="'女'"></nz-option>
            </nz-select>
            <ng-container *ngIf="gender.dirty || gender.touched">
                <p nz-form-explain *ngIf="gender.errors?.required">请选择性别！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="birthday">
            <nz-datepicker formControlName="birthday" [nzSize]="'large'" [nzPlaceHolder]="'生日'" style="width: 100%;"></nz-datepicker>
            <ng-container *ngIf="birthday.dirty || birthday.touched">
                <p nz-form-explain *ngIf="birthday.errors?.required">请选择生日日期！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="organization">
            <nz-input formControlName="organization" [nzPlaceHolder]="'工作单位'" [nzSize]="'large'">
            </nz-input>
            <ng-container *ngIf="organization.dirty || organization.touched">
                <p nz-form-explain *ngIf="organization.errors?.required">请输入工作单位！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="country">
            <nz-input formControlName="country" [nzPlaceHolder]="'国家'" [nzSize]="'large'">
            </nz-input>
            <ng-container *ngIf="country.dirty || country.touched">
                <p nz-form-explain *ngIf="country.errors?.required">请输入国家！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="province">
            <nz-input formControlName="province" [nzPlaceHolder]="'省份'" [nzSize]="'large'">
            </nz-input>
            <ng-container *ngIf="province.dirty || province.touched">
                <p nz-form-explain *ngIf="province.errors?.required">请输入省份！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="city">
            <nz-input formControlName="city" [nzPlaceHolder]="'城市'" [nzSize]="'large'">
            </nz-input>
            <ng-container *ngIf="city.dirty || city.touched">
                <p nz-form-explain *ngIf="city.errors?.required">请输入城市！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="county">
            <nz-input formControlName="county" [nzPlaceHolder]="'县'" [nzSize]="'large'">
            </nz-input>
            <ng-container *ngIf="county.dirty || county.touched">
                <p nz-form-explain *ngIf="county.errors?.required">请输入县！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="township">
            <nz-input formControlName="township" [nzPlaceHolder]="'乡镇'" [nzSize]="'large'">
            </nz-input>
            <ng-container *ngIf="township.dirty || township.touched">
                <p nz-form-explain *ngIf="township.errors?.required">请输入乡镇！</p>
            </ng-container>
        </div>
    </div>
    <div nz-form-item>
        <button nz-button [nzType]="'primary'" [disabled]="success" [nzLoading]="loading" [nzSize]="'large'" class="submit">
            <span>注册</span>
        </button>
        <a class="login" routerLink="/passport/login">使用已有账户登录</a>
    </div>
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
    <nz-alert *ngIf="success" [nzType]="'success'" [nzMessage]="success" [nzShowIcon]="true" class="mb-lg"></nz-alert>
</form>
