<nz-card>
    <div nz-row>
        <div nz-col [nzSm]="positionExpand ? 12 : 10" [nzXs]="24" class="pr-sm mb-sm">
            <nz-input [(ngModel)]="params.keyword" name="keyword" [nzId]="'keyword'" [nzPlaceHolder]="'关键字(轨迹名称、记录人、关键地点、说明)'">
            </nz-input>
        </div>
        <div nz-col [nzSm]="positionExpand ? 12 : 8" [nzXs]="24" class="pr-sm mb-sm">
            <nz-rangepicker [(ngModel)]="dateRange" name="dataRange" [nzPlaceholder]="['开始时间', ['结束时间']]"></nz-rangepicker>
        </div>
        <div *ngIf="positionExpand" nz-col [nzSm]="12" [nzXs]="16" class="pr-sm mb-sm">
            <nz-input-group nzCompact>
                <input [(ngModel)]="params.longitude" style="width: 50%;" placeholder="中心点经度" nz-input (blur)="positiveNumberBlur('longitude', '')">
                <input [(ngModel)]="params.latitude" style="width: 50%;" placeholder="中心点纬度" nz-input (blur)="positiveNumberBlur('latitude', '')">
            </nz-input-group>
        </div>
        <div *ngIf="positionExpand" nz-col [nzSm]="6" [nzXs]="8" class="pr-sm mb-sm">
            <nz-input [(ngModel)]="params.distance" name="distance" [nzId]="'distance'" [nzPlaceHolder]="'请输入数字'" (nzBlur)="positiveNumberBlur('distance')">
                <ng-template #addOnBefore>
                    距中心点
                </ng-template>
                <ng-template #addOnAfter>
                    km
                </ng-template>
            </nz-input>
        </div>
        <div nz-col [nzSm]="6" [nzXs]="24" class="text-right mb-sm">
            <a (click)="positionExpand = !positionExpand">
                范围选择
                <i class="anticon" [class.anticon-down]="!positionExpand" [class.anticon-up]="positionExpand"></i>
            </a>
            <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="search()" class="mx-sm"><span>搜索</span></button>
            <button nz-button [nzLoading]="loading" (click)="reset()">重置</button>
        </div>
    </div>

    <nz-table #nzTable [nzAjaxData]="tracks" [nzTotal]="trackTotal" [nzSize]="'small'" [nzCustomNoResult]="false"
              [nzLoading]="loading" [nzIsPagination]="true" [nzShowSizeChanger]="true" [nzShowTotal]="true" [nzIsPageIndexReset]="false"
              (nzPageIndexChangeClick)="pageIndexChangeClick($event)" (nzPageSizeChange)="pageSizeChange($event)">
        <thead nz-thead>
        <tr>
            <th nz-th>
                <nz-dropdown>
                    <a class="ant-dropdown-link" nz-dropdown>
                        操作<i class="anticon anticon-down"></i>
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a (click)="selectAll()">全选</a>
                        </li>
                        <li nz-menu-item>
                            <a (click)="toggleAll()">反选</a>
                        </li>
                        <li nz-menu-item>
                            <a (click)="unSelectAll()">重置</a>
                        </li>
                    </ul>
                </nz-dropdown>
            </th>
            <th nz-th><span>轨迹名称</span></th>
            <th nz-th><span>上传人</span></th>
            <th nz-th><span>开始时间</span></th>
            <th nz-th><span>结束时间</span></th>
            <th nz-th><span>长度</span></th>
            <th nz-th><span>最高海拔</span></th>
            <th nz-th><span>关键地点说明</span></th>
            <th nz-th><span>文件大小</span></th>
            <th nz-th><span>上传时间</span></th>
            <th nz-th><span>注释说明</span></th>
            <th nz-th><span>下载</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <ng-container *ngFor="let track of nzTable.data">
            <tr nz-tbody-tr>
                <td nz-td>
                    <nz-spin [nzSpinning]="track.loading">
                        <nz-tooltip [nzTitle]="track.title || '选择在地图上显示'">
                            <label nz-tooltip nz-checkbox [nzDisabled]="track.loadFailed" [(ngModel)]="track.checked" (ngModelChange)="toggle(track, $event)"></label>
                        </nz-tooltip>
                    </nz-spin>
                </td>
                <td nz-td><app-more [text]="track.name"></app-more></td>
                <td nz-td>{{ track.userId }}</td>
                <td nz-td>{{ track.startTime }}</td>
                <td nz-td>{{ track.endTime }}</td>
                <td nz-td>{{ track.length | meterFormat }}</td>
                <td nz-td><app-more [text]="track.maxAltitude"></app-more></td>
                <td nz-td><app-more [text]="track.keySitesList"></app-more></td>
                <td nz-td>{{ track.fileSize | byteFormat }}</td>
                <td nz-td>{{ track.uploadTime }}</td>
                <td nz-td><app-more [text]="track.annotation"></app-more></td>
                <td nz-td>
                    <button nz-button [nzSize]="'small'" [nzLoading]="track.downloadLoading" [nzShape]="'circle'" (click)="download(track)">
                        <i class="anticon anticon-download"></i>
                    </button>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </nz-table>
</nz-card>
